<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <div class="navDhika">
        <div class="logoDhika">
            <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Beasiswa</span></h2>
        </div>
        <ul>
            <li><a href="{{ url_for('input_beasiswa') }}">Form</a></li>
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </div>
    <div class="mainDhika">
        <div class="konversiDhika">
            <center><h1>Formulir Untuk Beasiswa</h1></center><br>
            <div class="inputDhika">
                <div class="inputDhika">
                <form action="" method="post">
                <input type="text" name="namaDhika" placeholder=" Masukan nama kamu" required>
                <input type="number" name="rataDhika" placeholder=" Masukan rata-rata rapor" required>
                <input type="number" name="penghasilanDhika" placeholder=" Masukan penghasilan orang tua" required>
                <input type="number" name="saudaraDhika" placeholder=" Masukan jumlah saudara" requied>
                <label for="statusDhika">Status Tempat Tinggal</label>
                <select name="statusDhika" required>
                    <option value="Milik Sendiri">Milik Sendiri</option>
                    <option value="Sewa">Sewa</option>
                    <option value="Ikut Saudara">Ikut Saudara</option>
                </select>
                <br><input type="submit" value="Kirim"><br>
            </form>
                </div>
            </div>
            
        </div>
    </div>
            
        </div>
    </div>
</body>
</html>