<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <div class="navDhika">
        <div class="logoDhika">
            <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Looping</span></h2>
        </div>
        <ul>
            <li><a href="{{ url_for('input_loop4') }}">Form</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </div>
    <div class="mainDhika">
        <div class="konversiDhika">
            <center><h1>Cek Bilangan Kelipatan 2 dan 5</h1></center><br>
            <div class="inputDhika">
                <div class="inputDhika">
                <form action="{{ url_for('input_loop4') }}" method="post">
                <label>Batas Awal</label>
                <input type="number" name="awalDhika" placeholder=" Masukan batas awal" required>
                <label>Batas Akhir</label>
                <input type="number" name="akhirDhika" placeholder=" Masukan batas akhir" required>
                
                <br><input type="submit" value="Kirim"><br>
            </form>
                </div>
            </div>
            
        </div>
    </div>
            
        </div>
    </div>
</body>
</html>