<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Hasil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>  
<body>  
    <nav class="navDhika">
    <div class="nav-container-dhika">
        <a href="{{ url_for('home') }}" class="logo-link-dhika">
            <div class="logoDhika">
                <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Projects</span></h2>
            </div>
        </a>
        
        <ul class="nav-menu-dhika">
            <li><a href="{{ url_for('input_cuaca') }}" class="nav-link-dhika">
                <i class="fas fa-edit"></i> Form
            </a></li>
            <li><a href="{{ url_for('home') }}" class="nav-link-dhika">
                <i class="fas fa-home"></i> Home
            </a></li>
        </ul>
    </div>
</nav>  
    <main class="mainDhika">  
    <section class="konversiDhika">  
        <h1>Aplikasi Saran Berdasarkan Cuaca</h1>  
        <form action="" method="post" class="inputDhika">  
            <label for="cuacaDhika">Pilih Cuaca</label>  
            <select id="cuacaDhika" name="cuacaDhika" required>  
                <option value="Hujan">Hujan</option>  
                <option value="Cerah">Cerah</option>   
            </select>  
            <input type="number" id="suhuDhika" name="suhuDhika" placeholder="Masukan suhu cuaca" required>

                        <input type="submit" value="Kirim">  
                    </form>  
                </section>  
            </main>

</body>  
</html>