<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <nav class="navDhika">
        <div class="nav-container-dhika">
            <a href="{{ url_for('home') }}" class="logo-link-dhika">
                <div class="logoDhika">
                    <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Projects</span></h2>
                </div>
            </a>
            
            <ul class="nav-menu-dhika">
                <li><a href="{{ url_for('input_nl1') }}" class="nav-link-dhika">
                    <i class="fas fa-edit"></i> Form
                </a></li>
                <li><a href="{{ url_for('home') }}" class="nav-link-dhika">
                    <i class="fas fa-home"></i> Home
                </a></li>
            </ul>
        </div>
    </nav>

    <div class="mainDhika">
        <div class="konversiDhika">
            <center>
                <h1>Bintang, Perkalian, & Genap</h1>
            </center>
            <div class="inputDhika">
                <form action="{{ url_for('input_nl1') }}" method="post">
                    <div class="form-group">
                        <label for="awalDhika"><i class="fas fa-play"></i> Batas Awal</label>
                        <input type="number" id="awalDhika" name="awalDhika" placeholder="Masukan Batas Awal" required>
                    </div>
                    <div class="form-group">
                        <label for="akhirDhika"><i class="fas fa-stop"></i> Batas Akhir</label>
                        <input type="number" id="akhirDhika" name="akhirDhika" placeholder="Masukan Batas Akhir" required>
                    </div>
                    <input type="submit" value="Kirim" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>