<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Form Input Nilai Siswa</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <nav class="navDhika">
        <div class="nav-container-dhika">
            <a href="{{ url_for('home') }}" class="logo-link-dhika">
                <div class="logoDhika">
                    <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Projects</span></h2>
                </div>
            </a>
            
            <ul class="nav-menu-dhika">
                <li><a href="{{ url_for('input_nl5') }}" class="nav-link-dhika">
                    <i class="fas fa-edit"></i> Form
                </a></li>
                <li><a href="{{ url_for('home') }}" class="nav-link-dhika">
                    <i class="fas fa-home"></i> Home
                </a></li>
            </ul>
        </div>
    </nav>

    <div class="mainDhika">
        <div class="konversiDhika">
            <center>
                <h1>Input Nama dan Nilai Setiap Siswa</h1>
            </center>
            <div class="inputDhika">
                <form action="{{ url_for('proses_nl5') }}" method="post">
                    <input type="hidden" name="jumlahKelasDhika" value="{{ jumlahKelasDhika }}">
                    <input type="hidden" name="jumlahSiswaDhika" value="{{ jumlahSiswaDhika }}">
                    
                    {% for i in range(jumlahKelasDhika) %}
                    <div class="form-group">
                        <h3>Kelas {{ i+1 }}</h3>
                        {% for j in range(jumlahSiswaDhika) %}
                        <div class="form-group">
                            <label>Nama Siswa {{ j+1 }}</label>
                            <input type="text" name="nama_{{ i }}_{{ j }}" placeholder="Masukan Nama Siswa" required>
                            <label>Nilai</label>
                            <input type="number" name="nilai_{{ i }}_{{ j }}" placeholder="Masukan Nilai" min="0" max="100" required>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    
                    <input type="submit" value="Tampilkan Nilai" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>