<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <div class="navDhika">
        <div class="logoDhika">
            <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Looping</span></h2>
        </div>
        <ul>
            <li><a href="{{ url_for('input_loop5') }}">Form</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </div>
    <div class="mainDhika">
        <div class="konversiDhika">
            <center><h1>Input Detail Barang</h1></center><br>
            <div class="inputDhika">
                <div class="inputDhika">
<form action="{{ url_for('input_loop5') }}" method="post">
    {% for iDhika in range(1, menuDhika+1) %}
    <fieldset style="margin-bottom: 15px; padding: 10px; border: 2px solid #ccc; border-radius: 10px;">
        <legend><b>Barang {{ iDhika }}</b></legend>
        
        <label for="nama{{iDhika}}">Nama Barang</label>
        <input type="text" id="nama{{iDhika}}" name="namaDhika[]" placeholder="Masukan nama" required><br>
        
        <label for="harga{{iDhika}}">Harga</label><br>
        <input type="number" id="harga{{iDhika}}" name="hargaDhika[]" placeholder="Masukan harga" required><br>
        
        <label for="qty{{iDhika}}">Qty</label><br>
        <input type="number" id="qty{{iDhika}}" name="qtyDhika[]" placeholder="Masukan Qty" required>
    </fieldset>
    {% endfor %}
    
    <br>
    <input type="submit" value="Kirim">
</form>
                </div>
            </div>
            
        </div>
    </div>
            
        </div>
    </div>
</body>
</html>