<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhika - Hasil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Andhika.css') }}" />
</head>
<body>
    <nav class="navDhika">
    <div class="nav-container-dhika">
        <a href="{{ url_for('home') }}" class="logo-link-dhika">
            <div class="logoDhika">
                <h2><span class="whiteDhika">Dhika</span> <span class="yellowDhika">Projects</span></h2>
            </div>
        </a>
        
        <ul class="nav-menu-dhika">
            <li><a href="{{ url_for('input_gaji') }}" class="nav-link-dhika">
                <i class="fas fa-edit"></i> Form
            </a></li>
            <li><a href="{{ url_for('home') }}" class="nav-link-dhika">
                <i class="fas fa-home"></i> Home
            </a></li>
        </ul>
    </div>
</nav>

<div class="mainDhika">
    <div class="hasilDhika">
        <h1>Data Gaji</h1>
        <table class="tableDhika">
            <tr>
                <th>Nama Karyawan</th>
                <td>{{namaDhika}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{statusDhika}}</td>
            </tr>
            <tr>
                <th>Gaji Pokok</th>
                <td>Rp. {{"{:,.0f}".format(gajiDhika)}}</td>
            </tr>
            <tr>
                <th>Bonus</th>
                <td>Rp. {{"{:,.0f}".format(bonusDhika)}} ( {{strBonusDhika}} )</td>
            </tr>

            {% if lemburDhika == "Tidak" %}
            <tr>
                <th>Lembur</th>
                <td>Rp. {{"{:,.0f}".format(tambahanDhika)}} ( Tidak Lembur )</td>
            </tr>
            {% else %}

            {% endif %}

            {% if lemburDhika == "Ya" %}
            <tr>
                <th>Lembur</th>
                <td>Rp. {{"{:,.0f}".format(tambahanDhika)}} ( {{jamDhika}} jam )</td>
            </tr>
            {% else %}

            {% endif %}
            
            <tr>
                <th>Gaji Kotor</th>
                <td>Rp. {{"{:,.0f}".format(kotorDhika)}}</td>
            </tr>
            <tr>
                <th>Pajak</th>
                <td>Rp. {{"{:,.0f}".format(pajakDhika)}} ( 2% )</td>
            </tr>
            <tr>
                <th>Total Gaji Bersih</th>
                <td>Rp. {{"{:,.0f}".format(bersihDhika)}}</td>
            </tr>
        </table>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const answers = {
        'Nama': '{{ namaDhika }}',
        'Rata-rata': '{{ rataDhika }}',
        'Kategori': '{{ kategoriDhika }}'
    };
    
    HistoryManager.saveEntry('If Else', 'Kategori Nilai', answers, {{ rataDhika }}, '/nilai/input');
});
</script>
</body>
</html>